<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>    
  <!-- Parameters used by tests at runtime -->  
  <TestRunParameters>  
    <Parameter name="webAppUri" value="https://bp-ca1-ks-final-dev-efbdh3a8hfgufufu.germanywestcentral-01.azurewebsites.net/" />  
  </TestRunParameters>  
</RunSettings> 